body { background:var(--background) !important }
.bg { background:var(--background) !important }
.f_high { color:var(--f_high) !important; stroke:var(--f_high) !important }
.f_med { color:var(--f_med) !important ; stroke:var(--f_med) !important }
.f_low { color:var(--f_low) !important ; stroke:var(--f_low) !important }
.f_inv { color:var(--f_inv) !important ; stroke:var(--f_inv) !important }
.b_high { background:var(--b_high) !important; fill:var(--b_high) !important }
.b_med { background:var(--b_med) !important ; fill:var(--b_med) !important }
.b_low { background:var(--b_low) !important ; fill:var(--b_low) !important }
.b_inv { background:var(--b_inv) !important ; fill:var(--b_inv) !important }

table tr th { color:var(--f_high) !important;  }
pre { color:var(--f_high) !important; }
pre b { color:var(--f_med) !important; }
pre i { color:var(--f_low) !important; }